**How to create a class in Python:**

In [ ]:
class Student:                #creating class
  name = "Mahira"             #class attribute
  id = 2345

  def StudyHour(self):
    print("Study Time: 8 hour")


st = Student()                #instance/object
print(st.name)
print(st.id)
st.StudyHour()

In [ ]:
class Employee:                                                      #create a class
  def __init__(self, name, id, salary):                              #constructor
    self.name = name
    self.id = id
    self.salary = salary

  def details(self):
    print("Name:", self.name, "ID:", self.id, "Salary:", self.salary)


emp1 = Employee("Zarif", 6798, 90000)                                #Creating object/instance of Employee class
emp2 = Employee("Zafor", 6799, 80000)
emp1.details()
emp2.details()

**How to take input from user in a class:**

In [ ]:
class Employee:
  def __init__(self):
    self.name = input()
    self.id = input()
    self.salary = input()

  def details(self):
    print("Name:", self.name, "ID:", self.id, "Salary:", self.salary)

In [ ]:
emp1 = Employee()
emp2 = Employee()
print(emp1.id)
emp1.details()
emp2.details()

zafor
1234
100000000000
nahid
5757
80000000000
1234
Name: zafor ID: 1234 Salary: 100000000000
Name: nahid ID: 5757 Salary: 80000000000

**Adding two numbers in a class taking input from user**

In [ ]:
class Values:
  def __init__(self):
    self.num1 = int(input("Enter first number:"))
    self.num2 = int(input("Enter second number:"))


  def additions(self):
    return self.num1+self.num2

In [ ]:
val = Values()
val.additions()

Enter first number:5
Enter second number:6

11

**Encapsulation**

In [ ]:
class Employee:
  def __init__(self, name, id, salary):
    self.name = name
    self.__id = id
    self.__salary = salary


  def details(self):
    print("Name:", self.name, "ID:", self.__id, "Salary:", self.__salary)

  def set_salary(self, salary):
    self.__salary = salary

  def get_id(self):
    return self.__id


emp1 = Employee("Zarif", 6798, 90000)
emp2 = Employee("Zafor", 6799, 80000)
emp1.details()
emp2.details()
emp1.get_id()
emp1.set_salary(1000000000)
emp1.details()

In [ ]:
class Account:
  def __init__(self, name, id, password):
    self.name = name
    self.id = id
    self.__password = password

In [ ]:
a = Account()

In [ ]:
class Account:
  def __init__(self, name, id, password):
    self.name = name
    self.id = id
    self.__password = password


  def details(self):
    print("Name:", self.name, "ID:", self.id, "Pasword:", self.__password)

  def set_password(self, password):
    self.__password = password

  def get_password(self):
    return self.__password

In [ ]:
acc = Account("Nahid", 5757, "brokenMoshiur")
acc.details()
acc.name = "Moshiur"
acc.id = 5403
acc.details()
acc.set_password("loverheroMoshiur")
acc.details()

Name: Nahid ID: 5757 Pasword: brokenMoshiur
Name: Moshiur ID: 5403 Pasword: brokenMoshiur
Name: Moshiur ID: 5403 Pasword: loverheroMoshiur

In [ ]:
class Employee:
  def __init__(self, name, id, salary):
    self.__name = name
    self.__id = id
    self.__salary = salary

  def details(self):
    print("Name:", self.__name, "ID:", self.__id, "Salary:", self.__salary)
    self.__activity()

  def set_Salary(self, id, salary):
    self.__id = id
    self.__salary = salary

  def get_Salary(self):
    return self.__salary

  def __activity(self):
    print("Best Employee!")

In [ ]:
emp = Employee("Mehbub", 2844, 60000)
emp.details()

emp.set_Salary(3235, 70000)
emp.details()
emp.get_Salary()

Name: Mehbub ID: 2844 Salary: 60000
Best Employee!
Name: Mehbub ID: 3235 Salary: 70000
Best Employee!

70000

In [ ]:
class Student:
  def __init__(self, name, id, bg):
    self.name = name
    self.id = id
    self.__bg = bg

  def set_bg(self, bg):
    self.__bg = bg

  def get_bg(self):
    return self.__bg

  def diplay(self):
    print("Name:",self.name, "ID:",self.id, "Blood Group:",self.__bg)
    self.__feedback()

  def __feedback(self):
    print("Best Student")

In [ ]:
st = Student("Mahi", 2844, "O+")
#print(st.bg)
st.diplay()
print("Old Blood Group:", st.get_bg())
st.set_bg("A+")
st.diplay()
print("New Blood Group:", st.get_bg())