**Inheritance**

In [ ]:
class Student:
  def studyhour(self):
    print("8hours")
  def tuitionfees(self):
    print("8lac")

In [ ]:
class Zoy(Student):
  def gamingtime(self):
    print("10 hour")

In [ ]:
z = Zoy()
z.studyhour()
z.tuitionfees()
z.gamingtime()

8hours
8lac
10 hour

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id

  def details(self):
    print("Name: ", self.name, "ID: ", self.id)

In [ ]:
class Tanim(Student):
  def __init__(self, name, id, cgpa):
    Student.__init__(self, name, id)
    self.cgpa = cgpa
    #super().__init__(name, id)

  def feedback(self):
    print("Tanim is Co-CR")

In [ ]:
t = Tanim("Tanim", 1234, 3.7)
t.details()
t.feedback()

Name:  Tanim ID:  1234
Tanim is Co-CR

In [ ]:
class Stu1(Student):
  def __init__(self, name, id):
    Student.__init__(self, name, id)


z = Stu1("Jannat", 1234)
z.details()

Name:  Jannat ID:  1234

In [ ]:
class Stu1(Student):
  def __init__(self, name, id):
    super().__init__(name, id)

z = Stu1("Zara", 1234)
z.details()

Name:  Zara ID:  1234

In [ ]:
class Student:
  tuition_fees = 800000
  def __init__(self, name, id, cgpa):
    self.name = name
    self.id = id
    self.cgpa = cgpa

  def calculateFees(self):
    if self.cgpa>3.5 and self.cgpa<3.8:
      print(self.tuition_fees-(self.tuition_fees*.3))
    elif self.cgpa>3.8:
      print(self.tuition_fees-(self.tuition_fees*.4))

  def details(self):
    print("Name:", self.name, "ID:", self.id)

In [ ]:
class Anik(Student):
  def __init__(self, name, id, cgpa):
    super().__init__(name, id, cgpa)

n = Anik("Anik", 1234, 3.6)
n.details()
n.calculateFees()

class Shakil(Student):
  def __init__(self, name, id, cgpa):
    super().__init__(name, id, cgpa)

j = Shakil("Shakil", 5678, 3.9)
j.details()
j.calculateFees()

Name: Anik ID: 1234
560000.0
Name: Shakil ID: 5678
480000.0

In [ ]:
class Employee:
  bonus = 0
  def __init__(self, id, salary):
    self.id = id
    self.salary = salary
    self.bonus = salary*0.1

  def calculatesalarywithBonus(self):
    total = self.salary+self.bonus
    print("Salary with Bonus: ", total)

In [ ]:
class Intern(Employee):
  pass

In [ ]:
class FullTime(Employee):
  homeallowance = 0
  transportallowance = 0
  def __init__(self, id, salary):
    super().__init__(id, salary)
    self.homeallowance = self.salary*0.2
    self.transportallowance = self.salary*0.1

  def calculatesalarywithAllowance(self):
    bonus_total = self.salary+self.homeallowance+self.transportallowance
    print("Salary with Allowance: ", bonus_total)

In [ ]:
class Junior(FullTime):
  pass

In [ ]:
class Senior(FullTime):
  increment = 0
  def __init__(self, id, salary):
    super().__init__(id, salary)
    self.increment = self.salary*0.02

  def calculateSalarywithIncrement(self):
    incremented_total = self.salary+self.increment
    print("Salary with Increment: ", incremented_total)

In [ ]:
i = Intern(1234, 7000)
i.calculatesalarywithBonus()

Salary with Bonus:  7700.0

In [ ]:
j = Junior(3458, 50000)
j.calculatesalarywithBonus()
j.calculatesalarywithAllowance()

Salary with Bonus:  55000.0
Salary with Allowance:  65000.0

In [ ]:
s = Senior(9999, 1200000)
s.calculatesalarywithBonus()
s.calculatesalarywithAllowance()
s.calculateSalarywithIncrement()

Salary with Bonus:  1320000.0
Salary with Allowance:  1560000.0
Salary with Increment:  1224000.0

In [ ]:
class Employee:
  bonus = 0
  def __init__(self, id, salary):
    self.id = id
    self.salary = salary
    self.bonus = self.salary*0.1

  def calculateSalarywithBonus(self):
    bonus = self.salary+self.bonus
    print("Salary with Bonus:", bonus)

In [ ]:
class Intern(Employee):
  pass

In [ ]:
class FullTime(Employee):
  houseallowance = 0
  transportallowance = 0
  def __init__(self, id, salary):
    super().__init__(id, salary)
    self.houseallowance = self.salary*0.2
    self.tansportallowance = self.salary*0.1


  def calculateSalarywithAllowance(self):
    totalsalary = self.salary+self.houseallowance+self.tansportallowance
    print("Salary with Allowance: ", totalsalary)

In [ ]:
class Senior(FullTime):
  increment = 0
  def __init__(self, id, salary):
    super().__init__(id, salary)
    self.increment = self.salary*0.2

  def calculateSalarywithIncrement(self):
    incrementedsalary = self.salary+self.increment
    print("Salary with Increment: ", incrementedsalary)

In [ ]:
class Junior(FullTime):
  pass

In [ ]:
i = Intern(1234, 7000)
i.calculateSalarywithBonus()

Salary with Bonus: 7700.0

In [ ]:
j = Junior(5678, 60000)
j.calculateSalarywithBonus()
j.calculateSalarywithAllowance()

Salary with Bonus: 66000.0
Salary with Allowance:  78000.0

In [ ]:
s = Senior(5757, 120000)
s.calculateSalarywithBonus()
s.calculateSalarywithAllowance()
s.calculateSalarywithIncrement()

Salary with Bonus: 132000.0
Salary with Allowance:  156000.0
Salary with Increment:  144000.0

**Polymorphism**

In [ ]:
class Vehicle:
  def activity(self):
    print("Vehicle is moving!")

class Plane(Vehicle):
  def activity(self):
    print("Plane is flying!")

class Truck(Vehicle):
  pass

p = Plane()
p.activity()
t = Truck()
t.activity()

Plane is flying!
Vehicle is moving!

**Calculating the area of Circle, Triangle and Rectangle using same method. (Polymorphism)**

In [ ]:
class Area:
  def area(self):
    pass

In [ ]:
class Circle(Area):
  def __init__(self, a):
    self.a = a

  def area(self):
    print("Area of Circle:", 3.14*self.a*self.a)

In [ ]:
class Triangle(Area):
  def __init__(self, b, h):
    self.b = b
    self.h = h

  def area(self):
    print("Area of Triangle:", 0.5*self.b*self.h)

In [ ]:
class Rectangle(Area):
  def __init__(self, a, b):
    self.a = a
    self.b = b

  def area(self):
    print("Area of Rectangle:", 0.5*self.a*self.b)

In [ ]:
cir = Circle(3)
tri = Triangle(2,5)
rec = Rectangle(5,8)

cir.area()
tri.area()
rec.area()

Area of Circle: 28.259999999999998
Area of Triangle: 5.0
Area of Rectangle: 20.0